<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.congresy.congresy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CreateConferenceActivity" />
        <activity android:name=".ShowMyConferencesActivity" />
        <activity android:name=".ShowEventsOfConferenceActivity" />
        <activity android:name=".ShowAllConferencesActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".EditConferenceActivity" />
        <activity android:name=".EditEventActivity" />
        <activity android:name=".ShowConferenceActivity" />
        <activity android:name=".ShowEventActivity" />
        <activity android:name=".ShowMySocialNetworksActivity" />
        <activity android:name=".EditSocialNetworkActivity" />
        <activity android:name=".ShowSocialNetworkActivity" />
        <activity android:name=".CreateSocialNetworkActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ShowMyEventsActivity" />
        <activity android:name=".ShowEventsOfConferenceAuxActivity" />
        <activity android:name=".JoiningConferenceActivity" />
        <activity android:name=".SearchSpeakersActivity" />
        <activity android:name=".RegisterSpeakerActivity" />
        <activity android:name=".ShowSpeakersOfEventActivity" />
        <activity android:name=".ShowAllPostsActivity" />
        <activity android:name=".ShowPostActivity" />
        <activity android:name=".CreatePostActivity" />
        <activity android:name=".ShowMyPostsActivity" />
        <activity android:name=".EditPostActivity" />
        <activity android:name=".ShowResponsesOfComment" />
        <activity android:name=".EditCommentActivity" />
        <activity android:name=".ShowMyCommentsActivity" />
        <activity android:name=".CreateCommentActivity" />
        <activity android:name=".ShowMyFoldersActivity" />
        <activity android:name=".ShowMessagesOfFolderActivity" />
        <activity android:name=".CreateMessageActivity" />
        <activity android:name=".ChooseActorActivity" />
        <activity android:name=".EditProfileActivity" />
    </application>

</manifest>